:root {
  --mdc-theme-primary: #FF9800;
  --mdc-theme-secondary: #66bb6a;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0px;
}

.album-body {
  padding: 12px;
}

.album-add {
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  z-index: 1;
}

.mdc-top-app-bar-fixed-adjust {
  padding-top: 64px;
}

.mdc-image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.mdc-image-list__item {
  width: calc(100% / 5 - 8px);
  margin: 4px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.mdc-image-list__item.visible {
  opacity: 1;
}

.mdc-image-list__image-aspect-container {
  position: relative;
}

.mdc-image-list__image {
  object-fit: cover;
}

.image-label {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 0;
  left: 0;
  z-index: 500;
  width: 95%;
  margin: 0;
  padding: 2px;
  background-color: gray;
  opacity: 0.8;
}

@media (max-width: 599px){
  .mdc-image-list__item {
    width: calc(100% / 3 - 8px);
    margin: 4px;
    object-fit: cover;
  }
}
